/*Selectores de etiqueta*/
body{
  border-style:solid;
}

h1 {
  font-family: Alegreya Sans SC;
  font-size: 30px;
  margin-top: 0px;
  height: 60px;
  background-color:#CBF3F0;
  color: #006D77;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  font-family: Amiko;
  font-size: 14px;
  padding-left: 70px;
  margin-right: 700px;
  list-style-type: none;
}

li {
  padding-bottom: 10px;
  transition: 0.2s;
}

li:hover{
  transform: scale(1.049);
}

ul li {
  padding-left: 36px;
  background-image: url("https://img.freepik.com/vector-gratis/libro-abierto-blanco_1308-22968.jpg?size=626&ext=jpg");
  background-position: 0 0;
  background-size: 30px;
  background-repeat: no-repeat;
}

/*Selectores de clase*/
.titulo-secundario {
  font-family: Alex Brush;
  font-size: 26px;
  color: #C56A6B;
  margin-top: 30px;
  padding-left: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: fr;
  gap: 0px 10px;
  grid-template-areas: "parrafo imagen";
}

.parrafo {
  grid-area: parrafo;
  margin-left: 60px;
  font-family: Amiko;
  font-size: 14px;
  line-height: 25px;
}

.imagen {
  grid-area: imagen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-foto {
  display: block;
  width: 180px;
  height: 200px;
  margin: 5px;
  text-align: center;
  border: none;
  background-color: #FFF;
  text-decoration: none;
  padding: 5px 5px 35px 5px;
  box-shadow: 0 3px 6px #666;

}
